<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.lyricsnext.app" version="1.0.0">
  <name>LyricsNext</name>
  <description>Hindi Songs Lyrics</description>
  <author href="http://avadheshb.com" email="hi@avadheshb.com">Avadhesh</author>
  <content src="index.html"/>
  <preference name="permissions" value="none"/>
  <preference name="phonegap-version" value="3.5.0"/>
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="true"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="false"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="7"/>
  <preference name="android-installLocation" value="auto"/>
  <gap:plugin name="org.apache.cordova.console"/>
  <gap:plugin name="org.apache.cordova.device"/>
  <gap:plugin name="org.apache.cordova.inappbrowser" />
  <gap:plugin name="org.apache.cordova.device-motion"/>
  <gap:plugin name="org.apache.cordova.device-orientation"/>
  <gap:plugin name="org.apache.cordova.dialogs"/>
  <gap:plugin name="org.apache.cordova.file"/>
  <gap:plugin name="org.apache.cordova.file-transfer"/>
  <gap:plugin name="org.apache.cordova.geolocation"/>
  <gap:plugin name="org.apache.cordova.globalization"/>
  <gap:plugin name="org.apache.cordova.media"/>
  <gap:plugin name="org.apache.cordova.network-information"/>
  <gap:plugin name="org.apache.cordova.splashscreen"/>
  <gap:plugin name="org.apache.cordova.vibration"/>
<icon src="hd.png"/>
<icon src="low.png" gap:platform="android" gap:qualifier="ldpi" />
<icon src="low.png" gap:platform="android" gap:qualifier="mdpi" />
<icon src="hd.png" gap:platform="android" gap:qualifier="hdpi" />
<icon src="hd.png" gap:platform="android" gap:qualifier="xhdpi" />
<icon src="xhd.png" gap:platform="android" gap:qualifier="xxhdpi" />
<icon src="xhd.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />
<gap:splash src="splash.png" />
<gap:platform name="android" />
  <access origin="*"/>
</widget>
